.article {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: var(--white-color);
  box-shadow: var(--shadow);
  transition-duration: 0.2s;
}

.article:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.link {
  display: block;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  min-height: 200px;
}

.title {
  font-size: 1.1rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 60px;
}

.description {
  font-size: 0.85rem;
  color: var(--gray-color);
  display: -webkit-box;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 80px;
}

.action {
  position: absolute;
  top: 1rem;
}
.like {
  right: 2rem;
}
.delete {
  right: 5rem;
}
