.like {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  top: 1rem;
  right: 1rem;
}

.like:hover {
  background-color: var(--secondary-color);
}

.like[aria-pressed="true"] {
  background-color: red;
}
