.like {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background: var(--white-color);
}

.like:hover {
  background-color: var(--secondary-color);
}

.like[aria-pressed="true"] {
  background-color: red;
}
