.filterContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--white-color);
  border-radius: 8px;
}

.filterItem,
.filterItem label {
  display: flex;
  align-items: center;
}

.filterItem select {
  padding: 0.5rem;
  border-radius: 4px;
  border: var(--border);
}

.filterItem label {
  gap: 0.5rem;
}
